@page
@model WebApp.Pages_Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.CreatedAtDt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.CreatedAtDt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.UpdatedAtDt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.UpdatedAtDt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.State)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="" asp-page="./Edit" asp-route-id="@Model.Game.Id" class="btn btn-primary">Edit</a>
    <a asp-area="" asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>
</div>
