@page
@using Microsoft.IdentityModel.Tokens
@using Microsoft.AspNetCore.Razor.Language
@model WebApp.Pages_Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Games list</h1>

<p>
    <a asp-area="" asp-page="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            When Created
        </th>
        <th>
            When Updated
        </th>
        <th>
            Game Name
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Game)
    {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.CreatedAtDt)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.UpdatedAtDt)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td class="d-flex gap-2">
                @if (item.Players.IsNullOrEmpty())
                {
                    <a asp-area="" asp-page="./CreatePlayers" asp-route-id="@item.Id" class="btn btn-primary">Add Players</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                }
                else
                {
                    <form method="post" class="d-flex gap-2 w-50">
                        <input type="hidden" name="GameId" value="@item.Id" /> 
                        <select id="selectedPlayer" name="SelectedPlayerId" class="form-select w-75" asp-items="@item.Players!.Select(p => new SelectListItem
                                                                                                                {
                                                                                                                    Value = p.Id.ToString(),
                                                                                                                    Text = p.Nickname
                                                                                                                }).ToList();"></select>
                        <button asp-area="" type="submit" class="btn btn-success">Play</button>
                    </form>
                    <a asp-area="" asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                }
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
