@page
@model WebApp.Pages.Players.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Players list</h1>
<a asp-area="" asp-page="Create" class="btn btn-outline-primary">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].PlayerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Player) {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.PlayerType)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Game!.State)
            </td>
            <td class="align-middle">
                <a asp-area="" asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
